# define properties and values 
services:
  web:
    build: .
    ports:
      - "5000:80"
    # volumes:
    #  - .:/app
    depends_on:
      - db
      - redis
    develop:
      watch:
        - action: sync
          path: ./
          target: /app
          ignore:
            - __pycache__/
            - .git/
            - migrations/versions/
            - .env
        - action: rebuild
          path: requirements.txt
        - action: rebuild
          path: Dockerfile
    env_file:
      - .env
  db:
    image: postgres:15
    environment:
      - POSTGRES_PASSWORD=password 
      - POSTGRES_DB=myapp
      - POSTGRES_USER=postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data 
      # - ./data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    
    restart: unless-stopped
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  worker:
    build: .
    depends_on:
      - redis
    env_file:
      - .env
    command: sh -c "rq worker -u $REDIS_URL emails"

volumes:
  postgres_data: